<app-nav></app-nav>
<hr>
<br>

<div class="container">
    <select class="form-select" aria-label="Default select example" id="currencySelector" [(ngModel)]="selectedCurrency">
        <option selected>Select your currency</option>
        <option value="USD">Dólares</option>
        <option value="EUR">Euros</option>
        <option value="COL">pesos</option>
    </select>
    <h2>Your Destiny</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Departure Station</th>
                <th scope="col">Arrival Station</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of destin; let i = index">
            <tr>
                <td>{{item.departureStation}}</td>
                <td>{{item.arrivalStation}}</td>
                <td>{{item.flightNumber}}</td>
                <td>{{item.price | currencyConverter:selectedCurrency:'USD'}}, {{selectedCurrency}}</td>
                <button class="bnt btn-primary" type="button" (click)="addReservation1(i)">reservation</button>
                
            </tr>
        </tbody>
    </table>
    <h2>Same Output Different Destination</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Departure Station</th>
                <th scope="col">Arrival Station</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of origin; let i = index">
            <tr>
                <td>{{item.departureStation}}</td>
                <td>{{item.arrivalStation}}</td>
                <td>{{item.flightNumber}}</td>
                <td>{{item.price | currencyConverter:selectedCurrency:'USD'}}, {{selectedCurrency}}</td>
                <button class="bnt btn-primary" type="button" (click)="addReservation2(i)">reservation</button>
                
            </tr>
        </tbody>
    </table>
    <h2>Round-trip flights</h2>
    <div class="row">
        <table class="table table-dark col">
            <thead>
                <tr>
                    <th scope="col">Departure Station</th>
                    <th scope="col">Arrival Station</th>
                    <th scope="col">Flight Number</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of origiMult; let i = index">
                <tr>
                    <td>{{item.departureStation}}</td>
                    <td>{{item.arrivalStation}}</td>
                    <td>{{item.flightNumber}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-dark col">
            <thead>
                <tr>
                    <th scope="col">Departure Station</th>
                    <th scope="col">Arrival Station</th>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of destinMult; let i = index">
                <tr>
                    <td>{{item.departureStation}}</td>
                    <td>{{item.arrivalStation}}</td>
                    <td>{{item.flightNumber}}</td>
                    <td>{{item.price *2 | currencyConverter:selectedCurrency:'USD'}}, {{selectedCurrency}}</td>
                    <button class="bnt btn-primary" type="button" (click)="addReservation3(i)">reservation</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>
<br>
<app-footer></app-footer>